# Node dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native build system
android/.gradle/
android/app/build/
android/build/
ios/DerivedData/

# DO NOT IGNORE android/ or ios/ folder itself
# because native Kotlin modules are inside android/src/main/java

# Keystore & sensitive files
*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision

# Kotlin / Gradle misc
*.orig.*
*.lock

# Metro bundler
.metro-health-check*

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log

# macOS
.DS_Store
*.pem

# Local env
.env*.local

# TypeScript
*.tsbuildinfo
